---
description: This is the goal template for the Habit Slap project.
author: Richard Collins
variables:
    - previous_email_exists
---
{% if previous_email_exists == true %}Summarise the previous emails in a few sentences. Then,{% endif %} write a motivational email to someone who has the following goal: {{goal}}